/* Base level themes */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #061328;
  color: rgb(232, 230, 227);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
* {
  scrollbar-color: #18396e #040e1d;
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.title-bar {
  position: fixed;
  background-color: #061328;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  z-index: 999;
}
.title-bar + section {
  margin-top: 10rem !important;
}

/* Header styles */
.title-bar ul {
  list-style-type: none;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  font-size: x-large;
  align-self: center;
}
.header span, .header img {
  vertical-align: middle;
}
.title-bar ul > li {
  flex-grow: 1;
}

.title-bar ul li ul {
  display: flex;
  justify-content: space-between;
}

.header,
.nav-item {
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all ease 0.2s;
  color: white;
  text-decoration: none;
}
.logo {
  text-decoration: none;
  color: white;
  padding: 2em;
}
.logo:hover {
  background: #061328;
}
.headder:hover,
.nav-item:hover {
  background: #122541;
}

/* Responsive Columns */
.columns {
  display: flex;
  flex-direction: column;
}

.column .is-2 {
  flex-grow: 2;
}

.tab {
  flex-grow: 1;
  padding: 1rem;
  color: #fff;
  scroll-margin-top: 8rem;
}

h1 {
  text-align: center;
}
.tab h2 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #0a1930;
  padding: 2rem;
  border-radius: 50px;
}

article {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #122541;
  padding: 2em;
  border-radius: 10px;
  margin-top: 2em;
}

.box h4 {
  color: #0f0;
}

.center-items {
  display: flex;
  justify-content: space-around;
}

a {
  color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.notification {
  border-radius: 10px;
  background-color: #122541;
  width: 100%;
  padding: 1rem;
  margin: 1rem -1rem;
}

.img {
  width: 100%;
}

.icon img {
  width: 28px;
}
.blog-box {
  background-color: #0a1930;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 2em;
}
.blog-bar {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.blog-container ul {
  list-style-type: none;
  margin: 0 auto;
}

.blog-container ul li {
  display: block;
  margin-bottom: 0.2rem;
  cursor: pointer;
  background-color: #122541;
  border-radius: 50px 50px 50px 50px;
  font-weight: bold;
}

.blog-container ul li:hover {
  background: #061328;
}

.blog-container ul li a {
  display: inline-block;
  color: #0f0;
  text-decoration: none;
  width: 100%;
  padding: 1rem 2rem;
}

.blog-container ul li a time {
  color: #ffffff;
  display: inline-flex;
  width: 10em;
}

.blog-container ul li a time::after {
  content: " - ";
  white-space: pre;
}

.blog-nav {
  flex-grow: 1;
  border: none;
}

/* Text Formats */
.title {
  font-size: xx-large;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: x-large;
}

.nav-item, li, ol, p, summary, article {
  line-height: 1.625;
}

.text-white {
  text-decoration: none;
  color: white;
}

.text-success {
  text-decoration: none;
  color: #0f0;
}

.text-danger {
  text-decoration: none;
  color: orange;
}
.text-link {
  text-decoration: none;
  color: #00f;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table td,
.table th {
  text-align: left;
  padding: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.table th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #18396e;
  color: white;
}
.table tr {
  background-color: #122541
}
.table.normal tr:nth-child(2n) {
  background-color: #061328
}
.table.dt tr:nth-child(2n) {
  border-bottom: 1px solid white;
}

/* Mobile UI Changes*/
@media (max-width: 45em) {
  .title-bar {
    position: relative;
  }

  .title-bar + section,
  .title-bar + .container {
    margin-top: 2rem !important;
  }
  .center-items {
    flex-direction: column;
    text-align: center;
  }
  .content {
    flex-grow: 1;
    width: unset;
  }
  .tab {
    margin: 0 auto !important;
    padding: 0;
    scroll-margin-top: 1em !important;
  }

  .header,
  .nav-item {
    text-align: center;
    padding: 0.5em;
    margin: 0;
  }
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .columns .column {
    display: block;
  }

  .blog-container ul {
    padding: 0;
  }

  .blog-container ul li a time {
    width: 100% !important;
  }

  .blog-container ul li a {
    padding: 1rem !important;
    word-wrap: break-word;
  }
}
