body {
    margin: 0 0 0 0;/* make room for the nav bar */
    background-color: #424242;
}

.menu-bar{
    float: right;
}
.menu {
    width: 35px;
    height: 5px;
    background-color: #555;
    margin: 6px 0;
}
  
/* make room for the nav bar */
#apps,
#apis,
#sources,
#tutorials,
#drawings,
#contact{
    padding-top: 60px;
    margin-top: -40px;
}

ul {
    display: flex;
    list-style-type:none;
    width: 100%;
    height: 55px;
    background-color: #323232;
    position: sticky;
    top: 0;
    margin-top: 0;
    padding: 0;
    z-index: 9999999;
}
/*Create a horizontal list with spacing*/
li {
    float: left;
    margin-right: 1px;
}


/*Style for menu links*/
li a{
    display:block;
    min-width:120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #323232;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #525252;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: larger;
    color: #fff;
    background: #323232;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

a:focus {
    outline: none !important;
}

.card-img-top {
    height: 10vw;
    padding-top: inherit;
}

/* bs3: mobile navbar without js custom
* ------------------------------------
* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked~.collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
    display: none;
}

footer {
    background: #525252;
    padding: 10px 0;
    text-align: center;
}
footer div{
    display: inline;
}

footer div a {
    color: #eeeeee;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

footer div a:hover {
    color: white;
}

.patreon_link {
    border-radius: 50px 50px 50px 50px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(232, 91, 70);
}

/*Responsive Styles*/
@media screen and (max-width : 992px){
    /*Make dropdown links appear inline*/
    ul {
        display: none;
        position: -webkit-static;
        top:55px;
        position: sticky;
    }

    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
     .show-menu {
        display:block;
        list-style-type:none;
        width: 100%;
        height: 55px;
        position: -webkit-static;
        position: sticky;
        top: 0;
        padding: 5px;
        z-index: 9999999;
    }

    /*change social media icon sizes*/
    footer div{
        display: block;
        padding-bottom: 10px;
    }
    
    footer div a {
        color: #eeeeee;
        font-size: 10px;
        padding: 5px;
        border-left: 1px solid #70726F;
        border-right: 1px solid #70726F;
        transition: all .5s ease;
    }
}